<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<![endif]-->
<link href="__PUBLIC__/Admin/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/lib/font-awesome/font-awesome.min.css" rel="stylesheet" type="text/css" />
<!--[if IE 7]>
<link href="lib/font-awesome/font-awesome-ie7.min.css" rel="stylesheet" type="text/css" />
<![endif]-->
<link href="__PUBLIC__/Admin/lib/iconfont/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>回馈分类管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="iconfont">&#xf012b;</i> 首页 <span class="c-gray en">&gt;</span>建议回馈<span class="c-gray en">&gt;</span> 分类管理 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="icon-refresh"></i></a></nav>
<div class="pd-20 text-c">
  <form class="Huiform" action="{:U('admin/feedback/mutipledeletecate')}" method="post" id="mainForm">
   
      <span class="l"><a href="javascript:;"  class="btn btn-danger radius" id="multipledelete"><i class="icon-trash"></i> 批量删除</a></span>
      <span class="r">共有数据：<strong><?php echo $count; ?></strong> 条</span>
    
      <input class="input-text" style="width:250px" type="text" value="" placeholder="输入分类" id="typename"><button type="button" class="btn btn-success" id="btnadd" ><i class="icon-plus"></i> 添加</button>
  
  <div class="article-class-list cl mt-20">
    <table class="table table-border table-bordered table-hover table-bg">
      <thead id="thead">
        <tr class="text-c">
          <th width="25"><input type="checkbox" name="" value=""></th>
          <th width="80">ID</th>
          <th >分类名称</th>
          <th width="70">操作</th>
        </tr>
      </thead>
      <tbody>
        <?php 
          foreach ($res as $key => $value) {
            ?>
              <tr class="text-c">
                <td><input type="checkbox" name="id[]" value="<?php echo $value['id'] ?>"></td>
                <td><?php echo $value['id'] ?></td>
                <td><?php echo $value['type_name'] ?></td>
                <td class="f-14"><a title="编辑" href="{:U('admin/feedback/editcate',array('id'=>$value['id']))}" class="editself" style="text-decoration:none"><i class="icon-edit"></i></a> <a title="删除" href="javascript:;"  class="ml-5 deleteself" style="text-decoration:none" onclick="cate_dels(this,<?php echo $value['id']; ?>)" ><i class="icon-trash"></i></a></td>
              </tr>
            <?php
          }
        ?>
      </tbody>
    </table>
  </div>
  </form>
</div>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/lib/Validform_v5.3.2.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/lib/layer1.8/layer.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/lib/laypage/laypage.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/js/H-ui.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/js/H-ui.admin.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/js/H-ui.admin.doc.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $('#btnadd').click(function(event) {
    var typename = $('#typename').val();
    if(typename == ''){
      layer.msg('不能为空!',1);
      return false;
    }
    var layerobj = layer;
    $.ajax({
      url: '{:U("admin/feedback/feedadd")}',
      type: 'POST',
      dataType: 'json',
      data: {type_name: typename},
      success:function(data){
        if(data.error == 0){
          $('#thead').after('<tr class="text-c"><td><input type="checkbox" name="id[]" value="'+data.id+'"></td><td>'+data.id+'</td><td>'+data.type_name+'</td><td><a title="编辑" href="http://<?php echo $_SERVER["HTTP_HOST"] ?>__CONTROLLER__/editcate/id/'+data.id+'" style="text-decoration:none" class="editself"><i class="icon-edit"></i></a><a title="删除" href="javascript:;"  class="ml-5 deleteself" style="text-decoration:none" onclick="cate_dels(this,'+data.id+')"><i class="icon-trash"></i></a></td></tr>');
        }
      }
    });
    
  });

  //批量删除
  $(document).on('click', '#multipledelete', function(event) {
    layer.confirm('确认要删除吗？',function(index){
       $('#mainForm').submit();
    });
  });

 
})

 //单个分类删除
  function cate_dels(obj,id){
    layer.confirm('确认要删除吗？',function(index){
      var layerobj  = layer;
      var currentobj = $(obj);
      var thisid = id;
      $.ajax({
        url: '{:U("admin/feedback/singledeletecate")}',
        type: 'POST',
        dataType: 'json',
        data: {id: thisid},
        success:function(data){
          currentobj.parents("tr").remove();
          layerobj.msg('已删除!',1);
        },
        error:function(){
          layerobj.msg('通信错误!',1);
        },
      })
    });
  }
</script> 
</body>
</html>