<link rel="stylesheet" href="__PUBLIC__/Home/css/order.css" />
<link type='text/css' href='__PUBLIC__/Home/css/dialog.css' rel='stylesheet' media='screen' />
<link rel="stylesheet" href="__PUBLIC__/Home/css/citys.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/order_add_new.css">
<style type="text/css">
	.property-quantity-control{
		position: relative;
		z-index: 1;
		height: 38px;
		width: 70px;
		border: 1px solid #e5e5e5;
		border-radius: 3px;
		overflow: hidden;
		margin-left: 30%;

	}
	.vm-minus,.vm-plus{
		position: absolute;
		top: 0;
		width: 18px;
		height: 40px;
		line-height: 36px;
		font-size: 26px;
		text-decoration: none;
		text-align: center;
	}
	.vm-minus{
	    left: 0;
        border-right: 1px solid #e5e5e5;
	}
	.vm-plus{
        right: 0;
        border-left: 1px solid #e5e5e5;
    }
	.J_quantity{
        position: absolute;
		top: 0;
		left: 20px;
		width: 30px;
		height: 40px;
		padding: 0;
		line-height: 40px;
		font-size: 18px;
		border: 0;
		text-align: center;
		color: #333;
	}
</style>
<form method="post" action="{:U('home/order/confirm')}" id="realFrom">
<div id="storeContainer">

	<div class="backCoupon-main" id="nogoods" style="height:220px;display:none">
     	<div id="tableList"  class="type-contain ui-load-container">
     		<div class="ui-load-content J_no_data" style="margin-top: 30px">
     			<p class="J_no_data_des">
     				<a href="{:U('home/index/index')}" class="add_address" >购物车里还没有产品！去添加一个吧 </a>
				</p>
			</div>
		</div>
	</div>
	<?php
		if (count($res) == 0) {
			?>
				<div class="backCoupon-main" style="height:220px">
			     	<div id="tableList"  class="type-contain ui-load-container">
			     		<div class="ui-load-content J_no_data" style="margin-top: 30px">
			     			<p class="J_no_data_des">
			     				<a href="{:U('home/index/index')}" class="add_address" >购物车里还没有产品！去添加一个吧 </a>
							</p>
						</div>
					</div>
				</div>
			<?php
		}else{
			?>
				<div class="mz_content clearfix">
					
					<style type="text/css">
						.stockdiv{
							margin-top: 15px;
							text-align: center;
							padding-left: 20px;
							color: #515151;
						    font-family: "微软雅黑";
							font-size: 14px;
						}
					</style>
			        <table class="product_table" cellpadding="0" cellspacing="0">
						<thead>
							<tr>
							    <th width="50">序号</th>
								<th width="200">商品</th>
								<th width="400">商品详情</th>
								<th width="200">单价</th>
								<th width="130">数量</th>
								<th width="200">小计</th>
								<th width="80">删除</th>
							</tr>
						</thead>
						<tbody>

						<?php  
							//页面加载时候的总计
							$totalPrice = 0;
							foreach ($res as $key => $value) { 
								$totalPrice = $totalPrice + $value['good_price']*$value['good_num']; //总计
							?>
								<tr style="border-bottom: 1px solid #e5e5e5;">
					                <td class="carid"><input type="checkbox" class="carclass" name="carid[]" value="<?php echo $value['carid'] ?>" checked="checked" >
									<input type="hidden" name="good_listid[]" value="<?php echo $value['good_listid'] ?>">
					                </td>
					                <td class="img"><img src="__ROOT__/<?php echo $value['good_pic'] ?>"></td>
					                <td class="detial" style="text-align:center;line-height:128px;">
					                    <p class="title">
					                        <a target="_blank" href="123">
					                            <?php echo $value['good_name']." ".$value['attr_combine'] ?>
					                        </a>
					                    </p>
					                </td>
					                <td class="price" style="color:red">
					                   ¥&nbsp;<span class="goodprice"><?php echo $value['good_price'] ?></span>
					                </td>
					                <td>
						                <div class="property-quantity-control">
					                        <a title="减少" href="javascript:;" class="vm-minus">
					                            -
					                        </a>
					                        <input value="<?php echo $value['good_num'] ?>" datamax="<?php echo $value['good_stock'] ?>" class="J_quantity"   type="text">
					                        <a title="增加" href="javascript:;" class="vm-plus">
					                            +
					                        </a>
						                </div>
						                <div class="stockdiv">最大库存:<span class="stock"><?php echo $value['good_stock'] ?></span></div>
					                </td>
					                <td class="smallcount">¥&nbsp;<span class="countprice"><?php echo $value['good_price']*$value['good_num'] ?></span>
				                	</td>
				                	<td class="delcar">
				                		<a href="javascript:void" id="delcar" class="delcarid" carid="<?php echo $value['carid'] ?>" style="font-size:16px;color:#00c3f5;">删除</a>
				                	</td> 
					            </tr>
							<?php 
							}
						?>
			       	  </tbody>
					</table>
					<div class="order_total">
						<div class="tr">
							<div class="th">总计</div>
							<div class="td">¥&nbsp;
								<span style="color:#f40;font-weight:bold;" class="totalcount"><?php echo $totalPrice; ?></span>
							</div>
						</div>
						<div class="tr verifica_tips" id="verificaTips"></div>
						<div class="tr">
							<div class="order_btn" style="border: 1px solid #00c3f5;background: #00c3f5;color: #FFF;" id="submitFrom">进入订单确认页面</div>
						</div>
					</div>
				</div>
			<?php
		}
	?>
	

	
</div>
</form>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.10.1.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		//点击减号
		$(document).on('click', '.vm-minus', function(event) {
			//最大库存量
			var stock = $(this).siblings('input').attr('datamax');
			// 文本框的值
			var value = parseInt($(this).siblings('input').val());
			//获得carid 为了走异步
			var carid = $(this).parents('td').siblings('.carid').children('.carclass').val();
			//获得当前的对象
			var thisobj = $(this);
			//如果值等于1了 就不能剪了。
			if(value == 1){	
				return false;
			}else{
				$.ajax({
					url: '{:U("home/car/mincar")}',
					type: 'POST',
					dataType: 'json',
					data: {carid: carid},
					success:function(data){
						if(data.error == 0){
							thisobj.siblings('input').val( value - 1); //文本框减1
							// 得到对应商品的单价
							var goodprice = thisobj.parents('td').siblings('.price').children('.goodprice').html();
							//得到原先对应的小计的值先
							var smallcount =  parseInt(thisobj.parents('td').siblings('.smallcount').children('.countprice').html());
							//对应行的小计要改一下
							var changesmallcount = smallcount - parseInt(goodprice);

							thisobj.parents('td').siblings('.smallcount').children('.countprice').html(changesmallcount);

							//总计的地方也要减
							//先得到原先总计的html
							if(thisobj.parents('td').siblings('.carid').children('.carclass').is(':checked')){
								var totalcount = parseInt($('.totalcount').html());
								var changetotlecount = totalcount - parseInt(goodprice);
								$('.totalcount').html(changetotlecount);
							}else{
								return false;
							}
						}else{
							alert(data.msg);
						}
					},
					error:function(){
						alert('通信错误');
					}
				})
			}
		});


		//点击减号
		$(document).on('click', '.vm-plus', function(event) {
			//最大库存量
			var stock = $(this).siblings('input').attr('datamax');
			// 文本框的值
			var value = parseInt($(this).siblings('input').val());
			
			//如果说值等于等于库存了 就不能再加了
			if( value >= parseInt(stock)){
				return false;
			}else{

				//获得carid 为了走异步
				var carid = $(this).parents('td').siblings('.carid').children('.carclass').val();
				//获得当前的对象
				var thisobj = $(this);
				$.ajax({
					url: '{:U("home/car/pluscar")}',
					type: 'POST',
					dataType: 'json',
					data: {carid: carid},
					success:function(data){
						if(data.error == 0){
							thisobj.siblings('input').val( value + 1); //文本框加1
							// 得到对应商品的单价
							var goodprice = thisobj.parents('td').siblings('.price').children('.goodprice').html();
							//得到原先对应的小计的值先
							var smallcount =  parseInt(thisobj.parents('td').siblings('.smallcount').children('.countprice').html());
							//对应行的小计要改一下
							var changesmallcount = smallcount + parseInt(goodprice);

							thisobj.parents('td').siblings('.smallcount').children('.countprice').html(changesmallcount);

							//总计的地方也要减
							//先得到原先总计的html
							if(thisobj.parents('td').siblings('.carid').children('.carclass').is(':checked')){
								var totalcount = parseInt($('.totalcount').html());
								var changetotlecount = totalcount + parseInt(goodprice);
								$('.totalcount').html(changetotlecount);
							}else{
								return false;
							}
						}else{
							alert('更新失败');
						}
					},
					error:function(){
						alert('通信错误');
					}
				})
			}
		});
	
		//取消点击事件发生
		


	 	// var stock = $('#J_quantity').val();
      $(document).on('blur', '.J_quantity', function(event) {
        // $(this).val(1);
        //如果不是正确的输入格式就给还原默认值。

        if($(this).val() <= 0 || !/^[1-9]*$/.test($(this).val())){
            $(this).val(1);
        }
        //最大库存量
		var stock = $(this).attr('datamax');
        if($(this).val() > parseInt(stock)){
          	$(this).val(stock);
        }
        //得到当品文本框的商品数量
        var goodnum =  $(this).val();
        //获得carid 为了走异步
		
        // 得到对应商品的单价
		var goodprice = $(this).parents('td').siblings('.price').children('.goodprice').html();
		//对应行的小计要改一下
		var changesmallcount = goodnum * parseInt(goodprice);

		var carid = $(this).parents('td').siblings('.carid').children('.carclass').val();
		var thisobj = $(this);
		//走异步了。

		$.ajax({
			url: '{:U("home/car/changenum")}',
			type: 'POST',
			dataType: 'json',
			data: {carid: carid, num: goodnum},
			success:function(data){
				if(data.error == 0){
					thisobj.parents('td').siblings('.smallcount').children('.countprice').html(changesmallcount);
					//总计的地方也要改变
					//可以得到所有的html 然后相加;
					if(thisobj.parents('td').siblings('.carid').children('.carclass').is(':checked')){
						var countPriceArr = $('.countprice');
						var changetotlecount = 0;
						$.each(countPriceArr, function(index, val) {
							changetotlecount = changetotlecount + parseInt($(this).html());
						});
						$('.totalcount').html(changetotlecount);
					}else{
						return false;
					}

				}else{
					alert('修改错误');
				}
			},
			error:function(){
				alert('通信错误');
			}
		})

		
		
      }); 

      	// 判断checkbox
	   $(document).on('click', '.carclass', function(event) {
	        if($(this).is(':checked')){
	         	//否则就是选中了
	         	//如果有当前的价格然后总计那里加一下
	         	var smallcount = parseInt($(this).parents('tr').find('.countprice').html());
	         	//总计的地方也要减
				//先得到原先总计的html
				var totalcount = parseInt($('.totalcount').html());
				var changetotlecount = totalcount + smallcount;
				$('.totalcount').html(changetotlecount);
	        }else{
	         	//如果就是没有选中
	         	//如果有当前的价格然后总计那里减一下
	         	var smallcount = parseInt($(this).parents('tr').find('.countprice').html());
	         	//总计的地方也要减
				//先得到原先总计的html
				var totalcount = parseInt($('.totalcount').html());
				var changetotlecount = totalcount - smallcount;
				$('.totalcount').html(changetotlecount);
	        }
	    });

	   //点击删除触发事件
	   $(document).on('click', '.delcarid', function(event) {
	   		if(!confirm('确定要删除吗?')) return false;
		   	var carid = $(this).attr('carid');
		   	var thisobj = $(this);
		   	//获得当前行的小计
		   	var smallcount = parseInt($(this).parents('td').siblings('.smallcount').children('.countprice').html());
		   	//获得原先的总计
		   	var totalcount = parseInt($('.totalcount').html());
		   	$.ajax({
		   		url: '{:U("home/car/delcar")}',
		   		type: 'POST',
		   		dataType: 'json',
		   		data: {carid: carid},
		   		success:function(data){
		   			if(data.error == 0){
		   				//如果删除成功了。移除当前行 并且总计的地方就要减去当前行的小计 
		   				thisobj.parents('tr').remove();
		   				$('.totalcount').html( totalcount - smallcount);
		   				var allprice = parseInt($('.totalcount').html());
		   				if(allprice == 0){
		   					$('.mz_content').remove();
		   					$('#nogoods').css('display', 'block');
		   				}
		   			}
		   		},
		   		error:function(){

		   		},
		   	});
	   });

	   //当点击提交表单
	   $(document).on('click', '#submitFrom', function(event) {
	   	    //获得总计的价格 如果是为0 就不给提交表单
	   	    var totalcount =  parseInt($('.totalcount').html());
	   	    if(totalcount <= 0){
	   	    	alert('请选择商品或者先添加商品先咯');
	   	    }else{
	   	    	//提交表单
	   	    	$('#realFrom').submit();
	   	    }
	   });
	});
</script>